body,
#main {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #eee;
}
canvas {
  background: #fff;
  width: 100%;
  max-width: 1200px;
  user-select: none;
}
.wrapper {
  width: 100%;
  height: 100%;
}
:fullscreen {
  background-color: #282828;
}
